!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

		-# To set titles and descriptions globally and for each individual page, see /DOCS.md
		%title= yield_content(:title)
		%meta{:content => yield_content(:description), :name => "description"}

		%meta{:content => "width=device-width", :name => "viewport"}

		-#Favicon Options:
		-#Update favicon_base.png in /source and middleman-favicon-maker will generate all the versions you need on 'middleman build'
		-#OR, place favicon.ico and apple-touch-icon.png in /source and deactivate :favicon_maker in config.rb
		= stylesheet_link_tag "site"
	%body
		/[if lt IE 9] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
		.mod.main-header
			.mod__inner.main-header__inner
				%a{:href => '/'} 
					%h1.main-title The Dumpster Project
				%a.external{:href => 'http://thedumpsterproject.com'} Visit Full Site
		= yield
		

		= javascript_include_tag "vendor/jquery-2.1.1.min.js"
		= javascript_include_tag "site"

		:javascript
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-15221723-8', 'auto');
			ga('send', 'pageview');
